# Environment
.env

# Virtual environments
venv/
venv-/
.venv/
env/

# Python caches
__pycache__/
*.pyc

# Local DB
db.sqlite3

# Logs
*.log

# Frontend build & deps
node_modules/
dist/
build/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Python tooling
.tox/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
# dedc att
backend_admin\fotasco_payroll\payroll\attendance_deductions.py"
media/
.env
__pycache__/
*.pyc
db.sqlite3